<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <section>
        <h2>Dalas Jewerly Social</h2>
        <div>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </section>

    <section class="atendimento">
        <h2>Atendimento</h2>
        <span><i class="far fa-envelope"></i> atendimento@dalas.com</span>
        <span><i class="far fa-phone-alt"></i> 84 98826 0319</span>
    </section>
</footer>
</html>