<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<div class="modal-overlay">
    <div class="modal-content">
        <button class="button-close"> <span class="iconify" data-icon="carbon:close" data-inline="false"></span></button>
        <form method="post" th:action="@{/salvar}" th:object="${Rfinanca}">
            <h2>Cadastro de Produtos</h2>
            <input type="text" placeholder="Descrição" name="description" th:field="*{description}">
            <input type="text"  placeholder="Preço" name="price" th:field="*{price}">

            <select th:field="*{category}">
                <option>Selecione uma categoria</option>
                <option th:value="'Anel'" th:text="Entrada">ANel</option>
                <option th:value="'Brinco'" th:text="Saída"></option>
                <option th:value="'Colar'" th:text="Saída"></option>
                <option th:value="'Pulseira'" th:text="Saída"></option>

            </select>
            <div>
                <label>Insira uma imagem do produto</label>
                <input type="file" placeholder="Descrição" name="description" th:field="*{file}">

            </div>

            <div class="button-save-modal">
                <button type="submit">Salvar</button>


            </div>

        </form>
    </div>

</div>
</html>