/*header nav{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 40px;*/

/*}*/
/* header nav p{*/
/*    color: var(--pink);*/
/*    font-size:1.3rem;*/
/*    font-weight:600;*/
/*}*/
/*nav button a{*/
/*    text-decoration: none;*/
/*    color: #FFFFFF;*/
/*}*/
/*header nav button{*/
/*    border: none;*/
/*    background: var(--pink);*/
/*    color: var(--shape);*/
/*    font-size:1rem;*/
/*    padding: 0 3rem;*/
/*    height: 2rem;*/
/*    transition: filter 0.2s;*/
/*    border-radius: 0.25rem;*/

/*}*/

.previousPage{
    display: none;
}
.container{
    color: var(--text-body);
    margin:40px;

}

.container h3{
    font-size: 1.2rem;
    color: var(--pink);

}

.container table{
    font-size: 1rem;
    width: 100%;
    text-align: left;
    border-spacing: 0 2rem;

}

table th{
    background-color: var(--pink-light);
    padding: 12px;
}

table td{
    padding: 12px;
}

table td img{
    width: 100px;
}


.modal-content form{
    flex: 1;
}
form input, select{
    color: #495057;
    flex: 1;
    width: 100%;
    max-width: 700px;
    height: 40px;
    border: 1px solid rgba(228, 180, 170, 0.4);
    padding-left: 6px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;

}
form h2{
    color: var(--pink);
}

form p{
    font-size: .7rem;
    color: red;
}
form input[type="file"]{

    border: none;
}
form input, select{
    margin-top: 20px;
}
.modal-content div{
    margin-top: 20px;
    color: #495057;

}
form button{
    border: none;
    background: var(--pink);
    color: var(--shape);
    font-size:1rem;
    padding: 0 2rem;
    height: 2rem;
    transition: filter 0.2s;
    border-radius: 0.25rem;
    margin-top: 20px;


}
